<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Laptops</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="container">
            <h1>Laptop Recommendations</h1>
            <a class="add-app-link" href="/users/<%= user._id %>/laptops/new">Add New Laptop</a><br>
            <% if (users.length===0) { %>
                <p>No users have laptops yet.</p>
                <% } else { %>
                    <div class="card-container">
                        <% users.forEach(user=> { %>
                            <% if (user.laptops.length> 0) { %>
                                <% user.laptops.forEach(laptop => { %>
                                    <div class="card">
                                        <img src="<%= laptop.images[0] %>" alt="<%= laptop.name %>" width="200">
                                        <h3>
                                            <%= laptop.brand %> - <%= laptop.name %>
                                        </h3>
                                        <a href="/laptops/<%= laptop._id %>">View Details</a>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p>
                                                <%= user.username %> has no laptops listed.
                                            </p>
                                            <% } %>
                                                <% }); %>
                    </div>
                    <% } %>
        </div>
</body>

</html>